body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #146eb4;
}

input,
button {
  padding: 12px;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input:focus {
  border-color: #146eb4;
  outline: none;
}

button {
  background-color: #ff9900;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}

button:hover {
  transform: 0.5s;
  background-color: #c27604;
}

#results {
  margin-top: 20px;
}

.productLink {
  text-decoration: none;
  
}
.product {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}

.product img {
  width: 150px;
  height: 200px;
  object-fit: contain;
  margin-right: 20px;
}

.product-info h3 {
  margin: 0;
  font-size: 18px;
  color: #111;
}

.product-info p {
  margin: 4px 0;
  color: #555555;
}
